@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");

body {
  background-color: #e9d8a6;
  background-image: url(./cork.jpeg);
  margin: 0;
}

button,
input {
  cursor: pointer;
  opacity: 100%;
}

/* ****** */
/* header */
/* ****** */

#header {
  background-color: #005f73;
  height: 150px;
  width: full;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  font-size: 45px;
  margin-left: 50px;
  padding-bottom: 7px;
  display: inline-block;
}

.title-input {
  margin-left: 10px;
  text-decoration-color: #001219;
  font-family: Shantell Sans;
  height: 2rem;
  width: 20rem;
  max-width: 100vw;
}

.move-button {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  margin-left: 15px;
  height: 30px;
  display: inline-block;
  border: 2px solid #0a9396;
  border-radius: 30px;
  font-size: 15px;
  background-color: #ee9b00;
}

.move-button:hover {
  background-color: #94d2bd;
}

/* ******* */
/* section */
/* ******* */

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-items: center;
}

#color-picker {
  margin: 10px auto;
  width: 100px;
}

.note-button {
  width: 8rem;
  height: 8rem;
  margin-top: 15px;
  border-width: 1px;
  font-size: 14px;
  overflow-wrap: break-word;
  hyphens: manual;
}

.note-button p,
#sort-menu,
.label-for-sort-menu {
  font-family: Shantell Sans;
  font-weight: 700;
}

textarea {
  display: block;
  font-family: Shantell Sans;
  max-width: 100vw;
  max-width: 100vw;
  width: 30rem;
  height: 20rem;
}

.edit-button,
.delete-button {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  height: 30px;
  margin: 5px auto;
  border: 2px solid #005f73;
  border-radius: 30px;
  font-size: 15px;
}

.edit-button {
  background-color: #ee9b00;
}

.delete-button {
  background-color: #e5383b;
}

#file-selector {
  display: none;
}

.label-for-import {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  margin: 5px auto;
  border: 2px solid #005f73;
  border-radius: 30px;
  font-size: 15px;
  padding: 4px;
  background-color: #ee9b00;
  cursor: pointer;
}

.edit-button:hover,
.label-for-import:hover {
  background-color: #0a9396;
}

.delete-button:hover {
  background-color: #ba181b;
}
