@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&display=swap");

:root {
  --header-dark: #5f82aa;
  --header-lighter: #8193aa;
  --header-lightest: #9bbbce;
  --bottom-border-color: #aabac8c5;
  --font-color: #0d1b2a;
  --button-background-color: #e0e1dd;
  --button-hover-color: #edf6f9;
  --button-border-color: #415a77;
  --button-and-input-font: Comfortaa;
  --header-font: Arvo;
}

body {
  background-image: url(./images/cork.jpg);
  margin: 0;
}

#header {
  background: linear-gradient(
    0.5turn,
    var(--header-dark),
    var(--header-lighter)
  );
  height: 3em;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  display: inline-block;
}

#time-stamp-div {
  height: 2em;
  background: linear-gradient(
    0.5turn,
    var(--header-lighter),
    var(--header-lightest)
  );
  border-bottom: 0.8rem ridge var(--bottom-border-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
}

h1,
#time-stamp-div p {
  font-family: var(--header-font);
  font-weight: 700;
  color: var(--font-color);
}

.title-input {
  margin-left: 10px;
  height: 2rem;
  width: 20rem;
  border-radius: 2em;
  padding-left: 1em;
  font-size: 1em;
  max-width: 100vw;
}

.label-for-sort-menu {
  padding: 1em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-button-div {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-items: center;
}

#color-picker {
  margin: 10px auto;
  width: 100px;
}

.note-button {
  width: 8rem;
  height: 8rem;
  margin-top: 15px;
  border-width: 1px;
  overflow-wrap: break-word;
  hyphens: manual;
}

.note-button p {
  max-height: 7rem;
  overflow: hidden;
  padding: 0;
  margin: 1px;
}

.note-button p,
#sort-menu,
.label-for-sort-menu,
.button,
.title-input,
.delete-button {
  font-family: var(--button-and-input-font);
  font-weight: 700;
  color: var(--font-color);
}

#quill-div {
  height: 30rem;
}

#quill-div,
.ql-toolbar {
  max-width: 100vw;
  width: 40rem;
}

.button {
  margin-left: 1em;
  display: inline-block;
}

.delete-button {
  background-color: #e71d36;
}

.delete-button {
  margin: 0.3em auto;
}

.button,
#color-picker {
  background-color: var(--button-background-color);
}

.button,
.delete-button {
  height: 2rem;
  width: 10rem;
  min-width: 90px;
  border-radius: 0.5em;
  font-size: 0.8em;
  border: 2px solid var(--button-border-color);
}

.button:hover,
#color-picker:hover {
  background-color: var(--button-hover-color);
}

.delete-button:hover {
  background-color: #f71735;
}

.note-button:hover {
  opacity: 0.8;
}

button,
input,
#sort-menu {
  cursor: pointer;
  opacity: 100%;
}

#file-selector {
  display: none;
}
