@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");

body {
  background-color: #e9d8a6;
  margin: 0;
}

/* ****** */
/* header */
/* ****** */

#header {
  background-color: #005f73;
  height: 150px;
  width: full;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  font-size: 45px;
  margin-left: 50px;
  padding-bottom: 7px;
  display: inline-block;
}

.title-input {
  margin-left: 10px;
  text-decoration-color: #001219;
  font-family: Shantell Sans;
  height: 40px;
}

.move-button {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  margin-left: 15px;
  height: 30px;
  border-width: 2px;
  display: inline-block;
}

/* ******* */
/* section */
/* ******* */

section {
  display: grid;
  justify-content: space-around;
  align-content: space-evenly;
}

.note-button {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  width: 300px;
  margin-top: 15px;
  border-width: 2px;
  border-radius: 30px;
  font-size: 15px;
}

textarea {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-family: Shantell Sans;
}

.save-button {
  font-family: Shantell Sans;
  font-weight: 700;
  color: #001219;
  height: 30px;
  display: block;
  margin: 20px auto;
}
